.container {
    width: 100%;
    display: flex;
    background-color: #448564;
    justify-content: center;
    padding: 1vmin;
    margin: 0 auto;
    flex-direction: column;
    transition: background-color 0.3s ease;
}
.correct {
    background-color: green;
}
.incorrect {
    background-color: red;
}
.title {
    display: flex;
    font-size: 10vmin;
    align-self: center;
}
.question {
    display: flex;
    font-size: 6vmin;
    align-self: center;
}
.answers {
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}
.answer {
  font-size: 2vmin;
  padding: 1vmin 1.5vmin; 
  background-color: #7e29a0;
  border-radius: 2vmin;
  flex: 1 0 0;
  cursor: pointer;
  transition: 0.3s ease; 
}
.answer:hover {
  background-color: #4e1061;
}