.container {
 width: 100%;
 display: flex;
 background-image:
 radial-gradient(ellipse at top, #b63e88cc,#222cb875,  transparent),
 radial-gradient(ellipse at bottom, #2c0646, transparent );
 justify-content: center;
 padding: 1vmin;
 margin: 0 auto;
 flex-direction: column;
}
.title {
 display: flex;
 font-size: 10vmin;
 align-self: center;
}
.totalAnswers {
 display: flex;
 flex-wrap: wrap;
 gap: 2vmin;
 font-size: 4vmin;
 font-weight: 600;
}
.correctAnswers {
 color: rgb(87, 202, 87);
}
.incorrectAnswers {
 color:  rgb(202, 87, 87);
}
.button {
 font-size: 3vmin;
 font-weight: 600;
 padding: 2vmin 1.5vmin; 
 margin: 1.5vmin;
 background-color: #0f7477;
 border-radius: 2vmin;
 cursor: pointer;
 transition: 0.3s ease; 
}
.button:hover {
 background-color: #0ba0c5;
 filter: drop-shadow(0 0.3vmin 0.9vmin #ffae00);
}