.container {
 width: 95%;
 display: flex;
 background-image:
 radial-gradient(ellipse at top, #b63e88cc,#222cb875,  transparent),
 radial-gradient(ellipse at bottom, #2c0646, transparent );
 max-width: 2000px;
 padding: 3vmin;
 border: solid black 0.5rem;
 border-radius: 5rem;
 margin: 0 auto;
 margin-top: 8rem;
 flex-direction: column;
}
.title {
 display: flex;
 font-size: 7rem;
 align-self: center;
}
.totalAnswers {
 display: flex;
 align-self: center;
 flex-wrap: wrap;
 gap: 2vmin;
 font-size: 3rem;
 font-weight: 600;
}
.correctAnswers {
 color: rgb(87, 202, 87);
}
.incorrectAnswers {
 color:  rgb(202, 87, 87);
}
.button {
 font-size: 2rem;
 font-weight: 600;
 padding: 2vmin 1.5vmin; 
 margin: 1.5vmin;
 background-color: #0f7477;
 border-radius: 2vmin;
 cursor: pointer;
 transition: 0.3s ease; 
}
.button:hover {
 background-color: #0ba0c5;
 filter: drop-shadow(0 0.3vmin 0.9vmin #ffae00);
}