.container {
 width: 100%;
 display: flex;
 background-color: #448564;
 justify-content: center;
 padding: 1vmin;
 margin: 0 auto;
 flex-direction: column;
}
.title {
 display: flex;
 font-size: 10vmin;
 align-self: center;
}
.totalAnswers {
 display: flex;
 flex-wrap: wrap;
 gap: 2vmin;
 font-size: 4vmin;
 background-color: #2d5843;
}
.correctAnswers {
 color: rgb(87, 202, 87);
}
.incorrectAnswers {
 color:  rgb(202, 87, 87);
}
.button {
 font-size: 3vmin;
 padding: 2vmin 1.5vmin; 
 margin: 1.5vmin;
 background-color: #7e29a0;
 border-radius: 2vmin;
 cursor: pointer;
 transition: 0.3s ease; 
}
.button:hover {
 background-color: #4e1061;
}