/*Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex; /* Added flex display to body */
  justify-content: center; /* Centering the container horizontally */
  align-items: center; /* Centering the container vertically */
  height: 100vh; /* Full height to center vertically */
  background-color: #55a57d;
  font-family: 'Centra', sans-serif;
}
/* Navbar CSS */
nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #121212;
  display: flex;
  justify-content: center;
  padding: 1vmin;
}

.social-icon {
  display: inline-block;
}
.social-icon a {
  width: 5vmin;
  height: 5vmin;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 0.1vmin solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 5vmin;
  height: 5vmin;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
	width: 60%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2vmin;
  font-size: 2vmin;
  opacity: 0.75;
  transition:  0.32s ease-in-out;
  margin: 0 20vmin;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover{
  filter: drop-shadow(0 0.3vmin 0.9vmin rgba(0, 255, 255));
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 0.1vmin solid #fff;
  padding: 1vmin 2vmin;
  font-size: 2vmin;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}

